body {
    position: relative;
    background-color: var(--main-black);
    background-image: linear-gradient(to bottom, #080808, var(--main-black));
    background-attachment: fixed;
    color: var(--main-white);
    font-family: var(--font-family);

    &::selection {
        background-color: #af6a1c;
        color: rgb(255, 250, 202);
    }
}



::-webkit-scrollbar {
    background-color: #000000;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, var(--main-black), var(--dark-green), var(--light-green), var(--dark-green), var(--main-black));
    border-radius: 10px;
}


.container {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
}
.container-less-pedding {
    padding: 0px;
}

.container--green {
    background-color: var(--dark-green);
    background-attachment: fixed;
    background-image: linear-gradient(to right, var(--main-black), var(--dark-green), #202922, var(--main-black));
}


h2 {
    color: var(--orange);
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 4%;
}

.big-orange-text {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10%;
}

.p {
    font-size: 16px;
    letter-spacing: 7%;
    font-weight: normal;
    line-height: 20px;
}

.p-small {
    font-size: 16px;
    color: #AFAFAF;
}

a, button, .btn {
    cursor: pointer;
}



/* адаптив
1200, 902, 768, 610, 468, 402 */



@media (max-width: 902px) {
    h2 {
        font-size: 23px;
    }
    .container {
        padding: 5px;
    }
}