body {
    background-color: var(--main-black);
    background-image: linear-gradient(to bottom, #080808, var(--main-black));
    background-attachment: fixed;
    color: var(--main-white);
    font-family: var(--font-family);

    &::selection {
        background-color: #af6a1c;
        color: rgb(255, 250, 202);
    }
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;

}
.container--green {
    background-color: var(--dark-green);
    background-attachment: fixed;
}

h2 {
    color: var(--orange);
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 4%;
}

.big-orange-text {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10%;
}

.p {
    font-size: 16px;
    letter-spacing: 7%;
    font-weight: normal;
    line-height: 20px;
}

a, button, .btn {
    cursor: pointer;
}
