
:root {
    --main-white: #ffffff;
    --white-gray: #D7CEC2;
    --white-yellow: #FFE4B3;
    --white-green: #F8FAC8;
    --orange: #ff871f;
    --main-black: #131417;
    --dark-green: #1F2621;
    --light-green: #455744;
    --dark-ochre: #7B5F2D;
    --ochre: #BA8C42;
    --light-ochre: #F4C88C;
    --font-family: 'Jost', sans-serif;
    --second-family: "Inter", sans-serif;
}