
.bar__inner {
    display: flex;
    justify-content: center;
    height: 100px;
}

.bar__img {
    margin-top: -150px
}

/* bar-two */


.bar-two__inner {
    display: flex;
    justify-content: center;
    height: 100px;
}


.bar-two__img {
    margin-top: -60px
}


@media (max-width: 902px) {
    .bar__inner {
        scale: 0.7;
        height: 80px;
    }
    .bar-two__inner {
        scale: 0.8;
        height: 80px;
    }
    .bar-two__img {
        margin-top: -70px
    }
}

@media (max-width: 610px) {
    .bar__inner {
        scale: 0.7;
        height: 70px;
    }
    .bar__img {
        margin-top: -130px
    }

    .bar-two__inner {
        scale: 0.6;
        height: 60px;
    }
    .bar-two__img {
        margin-top: -80px
    }
}

@media (max-width: 468px) {
    .bar__inner {
        scale: 0.7;
        height: 50px;
    }
    .bar__img {
        margin-top: -100px
    }

    .bar-two__inner {
        scale: 0.6;
        height: 60px;
    }
    .bar-two__img {
        margin-top: -80px
    }
}