

.category__inner {
    display: grid;
}




.category__links {
    display: flex;
    gap: 25px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 10%;
    justify-content: center;
}

.category__link {
    width: 260px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__link--one {
    background-image: url(../../img/Frame\ 11\ \(1\).png);
    transition: background-image 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover {
        background-image: url(../../img/Frame\ 11\ \(2\).png);
    }
}
.category__link--two {
    background-image: url(../../img/Frame\ 13.png);
    transition: background-image 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover {
        background-image: url(../../img/Frame\ 13\ \(1\).png);
    }
}
.category__link--three {
    background-image: url(../../img/Frame\ 14.png);
    transition: background-image 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover {
        background-image: url(../../img/Frame\ 14\ \(1\).png);
    }
}
.category__link--four {
    background-image: url(../../img/Frame\ 15.png);
    transition: background-image 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover {
        background-image: url(../../img/Frame\ 15\ \(1\).png);
    }
}