
.hits__inner {
    position: relative;
}

.hits__title {
    margin-bottom: 20px;
}

.hits__card {
    width: 980px;
    height: 340px;
    background-image: linear-gradient(to right, var(--main-black), var(--main-black), var(--dark-green), var(--dark-green), var(--main-black));
    overflow: hidden;
    justify-self: center;
    display: flex;
    gap: 40px;
}

.hits__img-inner {
    background-color: black;
    height: 400px;
    width: 450px;
    margin-left: 50px;
}

.hits__img {
    display: flex;
    align-items: center;
}


.hits__content {
    max-width: 380px;
    max-height: 400px;
    padding: 0px;
    display: grid;
    gap: 10px;
    align-self: center;
}

.hits__content-bottom {
    display: flex;
    margin-top: 10px;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.hits__price {
    color: var(--light-ochre);
    letter-spacing: 10%;
}


.hits__btn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    top: 45%;
    z-index: 20;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.08);
    }
}

.hits__btn-arrow {
    scale: 0.7;
}

.hits__btn--left {
    left: 20px;
}


.hits__btn--right {
    right: 20px;
}



@media (max-width: 902px) {
    .hits__card {
        max-width: 500px;
        display: fl;
    }
}