.items__content {
    display: flex;
    flex-wrap: wrap;
}

.items__card {
    margin: 20px;
    background-color: var(--dark-green);
    background-attachment: scroll;
    background-image: linear-gradient(to bottom, var(--light-green), #202922);
    max-width: 250px;
    padding: 15px 20px;
    border-radius: 20px;
    display: grid;
    gap: 20px;
    justify-content: center;
}

.items__name {
    color: var(--orange);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 10%;
    line-height: 25px;
}

.items__price {
    color: var(--main-white);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 10%;
}

.items__img {
    scale: 0.99;
    border-radius: 15px;
    overflow: hidden;
}

.items__btn {
    padding: 10px 50px;
    justify-self: center;
}