.new-items__content {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
}

.new-items__card {
    margin: 20px;
    background-color: var(--dark-green);
    max-width: 250px;
    padding: 15px 20px;
    border-radius: 20px;
    display: grid;
    gap: 20px;
    justify-content: center;
}

.new-items__name {
    color: var(--orange);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 10%;
    line-height: 25px;
}

.new-items__price {
    color: var(--main-white);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 10%;
}

.new-items__img {
    scale: 0.99;
    border-radius: 15px;
    overflow: hidden;
}

.new-items__btn {
    padding: 10px 50px;
    justify-self: center;
}