header {
    position: sticky;
    top: -15px;
    z-index: 30;
}

.container--green-gradient {
    background-image: linear-gradient(to right, #202922, #2f3f27d8, #202922bd, var(--main-black));
    background-attachment: scroll;
}  

.header__logo {
    width: 200px;
}


.header__navigation {
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    flex-wrap: wrap;
}

.header__links {
    display: flex;
    gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 20%;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.header__left {
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 10px;
}

.header__search input[type="text"] {
    padding: 4px;
    margin-right: 10px;
    font-size: 17px;
    border-radius: 4px;
}

.header__search button {
    background-color: #d47e1c;
    max-height: 30px;
    max-width: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #e78b22;
    }
}

.header__search button i {
    font-size: 18px;
}



.header__form {
    display: flex;
    width: 400px;
}

.header__input {
    background-color: var(--white-gray);
    color: var(--main-black);
    max-height: 30px;
    padding: 10px;
    width: 100%;
}

.header__search-img {
    width: 40px;
    height: auto;
}

.header__right {
    display: flex;
    gap: 20px;
}

.header__basket {
    background-color: var(--ochre);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.2s, scale 0.2s;

    &:hover {
        background-color: #d69948;
    }

    &:active { 
        background-color: rgb(180, 132, 69);
        scale: 0.96;
    }
}

.header__basket-img {
    width: 30px;
    height: 30px;
}

.header__menu {
    background-color: #4e6640;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #64774b;
    }

    &:active { 
        background-color: #506840;
        scale: 0.96;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

/* модальное окно */

.header__menu-img {
    width: 40px;
    height: 35px;
}



/* адаптив */

@media (max-width: 768px) {
    header {
        top: 0px;
    }

    .header__search {
        display: none;
    }
    .header__basket {
        width: 60px;
        height: 60px;
    }
    .header__basket-img {
    width: 40px;
    height: 40px;
    }
    .header__navigation {
        display: none;
    }

}
